
.jackettLogo {
    color: white;
    height: 60px;
    margin-bottom: 15px;
    padding-left: 38px;
    padding-top: 15px;
}

.jackettLogo span {
    font-size: 30px;
    //font-weight: bold;
    padding-left: 12px;
    vertical-align: middle;
}

.jackettLogo img {
    height: 40px;
    vertical-align: middle;
    filter: invert(100%);
}

.jackettVersion {
    padding-top: 10px;
    padding-left: 50px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    display: block;
}

.jackettVersion a {
    color: rgba(255, 255, 255, 0.65);
}
