button {
  margin-right: 5px !important;
}

.indexer-name {
  font-size: 13px;
  margin-right: 5px;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  font-size: 85%;
}

.label-public {
  background-color: #5cb85c;
}

.label-semi-private {
  background-color: #f0ad4e;
}

.label-private {
  background-color: #d9534f;
}