.centerScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.formCustom {
    width: 300px;
    height: 400px;
}

.buttonCustom {
    margin-top: 10px;
}

.alert {
    margin-bottom: 20px;
}

.jackettLogo {
    color: #000000;
    margin-bottom: 20px;
}

.jackettLogo span {
    font-size: 50px;
    padding-left: 12px;
    vertical-align: middle;
}

.jackettLogo img {
    height: 60px;
    vertical-align: middle;
}
