.downloadIcons {
    width: 35px;
    min-width: 35px;
    white-space: nowrap;
    text-align: center;
    display: block;
}

.downloadIcons img {
    width: 16px;
    height: 16px;
}

.headerRow{
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

.formCustomInput {
    width: 100%;
    padding-right: 10px;
}

.subHeaderRow {
    margin-bottom: 10px;
}

.headerFilter {
    text-align: right;
}

.headerFilterInput {
    width: 100%;
}


.tableCustom div[class="ant-table-content"] td {
    padding: 4px !important;
}

.tableCustom span[class*="ant-tag"] {
    font-size: 11px!important;
    line-height: 18px!important;
}
